*{
    box-sizing: border-box;
}
body{
    margin: 0px 0px 0px 0px;
}

.bgColor{
    background-color: tomato;
    height: 60px;
     position: sticky;
    top: 0; 
    width: 100%;
    
    padding:7px ;
    align-items: center;
}
p{
    margin: 0;
}
ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    margin: 0;
    justify-content:first baseline;
    /* height:75px; */
}
.item{
    padding: 7px;
    /* font-size: x-large; */
    align-items: center;
    margin: 2px;
}
.item:hover{
    background-color: rgb(233, 86, 60);
}
.wrapper{
    margin: auto;
}
.content{
    width:50%;
    background-color: antiquewhite;
    padding: 5px;
    margin: 7px;
}
.logo{
    float: left;
    margin: 2px;
}
.logoColor{
    color: aliceblue;
}
.center{
    text-align: center;
}
